{% extends 'base.html' %}
{% load staticfiles %}

{% block headers %}
<header class="masthead" style="background-image: url({% static 'subs_main.png' %})">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
            <h1 style="color:black;">구독</h1>
            <span class="subheading" style="color:black;">여러분의 CHWIMI를 시작할 시간입니다.<br></span>
            </div>
        </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<h1>SUBSCRIBE page</h1>
{% endblock %}