{% extends 'base.html' %}
{% load staticfiles %}

{% block extra-link %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block extra-style %}
<style>
    input[type=radio] {
        width: 20px;
        height: 20px;
    }
</style>
{% endblock %}

{% block headers %}
<header class="masthead" style="background-image: url({% static 'review_main.png' %})">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
            <h1 style="color:black;">후기</h1>
            <span class="subheading" style="color:black;">여러분의 CHWIMI에 늘 귀를 기울이고 있습니다.<br></span>
            </div>
        </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<form action="{% url 'new_review_post' %}" method="POST" enctype="multipart/form-data" class="">
    {% csrf_token %}
    <!-- 제목 -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
        </div>
        <input name="title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
    </div>          

    <!-- 별점 -->
    <p>
        <h4 class="text-center">상품</h4>
        <div class="radio text-center">
            <span class="mx-3">
                <label><input type="radio" name="rate_product" value="1"></label>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_product" value="2"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_product" value="3"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_product" value="4"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_product" value="5"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>
        </div>
    </p>

    <p>
        <h4 class="text-center">배송</h4>
        <div class="radio text-center">
            <span class="mx-3">
                <label><input type="radio" name="rate_delivery" value="1"></label>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_delivery" value="2"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_delivery" value="3"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_delivery" value="4"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_delivery" value="5"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>
        </div>
    </p>

    <p>
        <h4 class="text-center">가격</h4>
        <div class="radio text-center">
            <span class="mx-3">
                <label><input type="radio" name="rate_price" value="1"></label>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_price" value="2"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_price" value="3"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_price" value="4"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>

            <span class="mx-3">
                <label><input type="radio" name="rate_price" value="5"></label>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
                <span><i class="text-warning fa fa-star"></i></span>
            </span>
        </div>
    </p>
    <!-- 내용 -->
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">내용</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" name="content" required></textarea>
    </div>
    <br>

    <!-- 파일첨부 -->
    <input class="btn btn-sm btn-outline-warning" type="file" name="file_review" value="파일첨부">
    <br>

    <a href="{% url 'review' %}" class="btn btn-sm btn-outline-danger my-3 mr-4 "> 취소 </a>
    <button class="btn btn-sm btn-outline-success my-3"  type="submit">작성</button>
</form>
{% endblock %}