{% extends 'base.html' %}
{% load staticfiles %}

{% block headers %}
<header class="masthead" style="background-image: url({% static 'review_main.png' %})">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
            <h1 style="color:black;">후기</h1>
            <span class="subheading" style="color:black;">여러분의 CHWIMI에 늘 귀를 기울이고 있습니다.<br></span>
            </div>
        </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}

{% endblock %}