{% extends 'base.html' %}
{% load staticfiles %}


{% block extra-style %}
<style>
    .table{
        text-align: center;
    }
    .pagination {
        justify-content: center;
    }
</style>
{% endblock %}

{% block headers %}
<header class="masthead" style="background-image: url({% static 'qna_main.png' %})">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
            <h1>QnA</h1>
            <span class="subheading">CHWIMI는 여러분의 질문을 기다립니다.<br></span>
            </div>
        </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<!-- Questions -->
<table class="table">
    <thead>
        <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">날짜</th>
        </tr>
    </thead>
    <tbody>
        {% for question in posts reversed %}
        <tr>
            <th scope="row">{{question.pk}}</th>
            <td><a href="{% url 'questionDetail' question.id %}">{{question.title}}</a></td>
            <td>{{question.user}}</td>
            <td>{{question.date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Write Button for User -->
{% if user.is_authenticated %}
<a class="btn btn-outline-success" href="#" role="button">글쓰기</a>
{% endif %}


<!-- Paginator -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% for page in posts.paginator.page_range %}
        <li class="page-item {% if page == posts.number %} active {% endif %} "><a class="page-link" href="?page={{page}}">{{page}}</a></li>
        {% endfor %}

        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a></li>
    </ul>
</nav>

{% endblock %}