{% extends 'base.html' %}
{% load staticfiles %}

{% block headers %}
<header class="masthead" style="background-image: url({%static 'notice.png' %})">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
            <h1 style="color: black;">Notice</h1>
            <span class="subheading" style="color: black;">CHWIMI의 목소리에 귀를 기울여 주세요.<br></span>
            </div>
        </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<div style="background:transparent !important; border:3px solid #02a64f; padding: 70px;" class="jumbotron">
    <h3 class="display-6">{{notice.title}}</h3>
    <p class="lead">{{notice.date}}</p>
    <hr class="my-4">
    <p>{{notice.content}}</p>
</div>


<a class="btn btn-outline-warning" href="{% url 'notice' %}" role="button">목록으로</a>
{% endblock %}