{% extends 'base.html' %}
{% load staticfiles %}

{% block headers %}
<header class="masthead" style="background-image: url({%static 'background2.jpg' %})">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
            <h1>Notice</h1>
            <span class="subheading">CHWIMI의 목소리에 귀를 기울여 주세요.<br></span>
            </div> 
        </div>
        </div>
    </div>
</header>
{% endblock %}


{% block contents %}
<div class="list-group">
    {% for notice in posts reversed%}
    <a href="{% url 'noticeDetail' notice.id %}" class="font-weight-bold list-group-item list-group-item-action">{{notice.title}} <p class="text-right">{{notice.date}}</p></a>

    {% endfor %}
</div> 

<!-- Admin -->
{% if user.is_superuser %}
<button type="button" class="btn btn-outline-success">글쓰기</button>
{% endif %}

<!-- Paginator -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% for page in posts.paginator.page_range %}
        <li class="page-item {% if page == posts.number %} active {% endif %} "><a class="page-link" href="?page={{page}}">{{page}}</a></li>
        {% endfor %}

        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a></li>
    </ul>
</nav>

{% endblock %}