{% extends 'base.html' %}
{% load staticfiles %}

{% block extra-style %}
<style>
    .table{
        text-align: center;
    }
    .pagination {
        justify-content: center;
    }
</style>
{% endblock %}

{% block headers %}
<header class="masthead" style="background-image: url({%static 'notice.png' %})">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading" style="color:black !important;">
            <h1>Notice</h1>
            <span class="subheading">CHWIMI의 목소리에 귀를 기울여 주세요.<br></span>
            </div> 
        </div>
        </div>
    </div>
</header>
{% endblock %}


{% block contents %}
<!-- Notices -->
<table class="table">
    <thead>
        <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">날짜</th>
        </tr>
    </thead>
    <tbody>
        {% for notice in posts reversed %}
        <tr>
            <th scope="row">{{notice.pk}}</th>
            <td><a href="{% url 'noticeDetail' notice.id %}">{{notice.title}}</a></td>
            <td>{{notice.date|date:"M d, Y"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Write Button for Admin -->
{% if user.is_superuser %}
<button type="button" class="btn btn-outline-success">글쓰기</button>
{% endif %}

<!-- Paginator -->
<nav style="text-align: center">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% for page in posts.paginator.page_range %}
        <li class="page-item {% if page == posts.number %} active {% endif %} "><a class="page-link" href="?page={{page}}">{{page}}</a></li>
        {% endfor %}

        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a></li>
    </ul>
</nav>
{% endblock %}