{% extends 'base.html' %}
{% load staticfiles %}

{% block headers%} 
<header class="masthead" style="background-image: url( {% static 'background1.jpg' %} )">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
            <h1>Login</h1>
            <span class="subheading">Chwimi로 들어오는 공간입니다.</span>
            </div>
        </div>
        </div>
    </div>
</header>

{% endblock %}

{% block contents %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  name='input_userid' placeholder="아이디" required>
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">PW</span>
        </div>
        <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name='input_userpw' placeholder="비밀번호" required>
    </div>
    
    <input class="btn btn-outline-success" value='로그인' type="submit">
</form>

{% endblock %}